@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.ttf.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Light.ttf.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url(../fonts/MyriadProRegular.ttf);
    font-weight: 400;
    font-style: normal;
}

